
@{
    ViewBag.Title = "GetEmployeesByDepartment";
}

<p>
    @Html.ActionLink("Go Back", "Index")
</p>

<div class="container mt-4">
    <h2 class="text-primary mb-4">Products By OrderId</h2>

    @using (Html.BeginForm("GetEmployeesByDepartmentByID", "Employee", FormMethod.Post, new { @class = "card p-4 shadow-sm" }))
    {
        <div class="mb-3">
            @Html.Label("Enter the Department ID", new { @class = "form-label fw-bold" })
            @Html.TextBox("id", null, new { @class = "form-control", placeholder = "Enter Department ID" })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
@Html.ActionLink("Index", "Index", new { /* id=item.PrimaryKey */ })




