@{
    ViewBag.Title = "FilterByCity";
}

<h2>FilterByCity</h2>

@using (Html.BeginForm("ShowListByCity", "Students"))
{
    @Html.Label("Enter City")
    @Html.TextBox("city", "", new { @class = "form-control" })
    <input type="submit" value="Show" />


}