
@{
    ViewBag.Title = "GroupByDemo";
}

<h2>GroupByDemo</h2>

<table>
    @foreach (var item in ViewBag.StudentsDataGrouped)
    {
        <tr>
            <td>@item.City</td>
            <td>@item.RollNo</td>
            <td>@item.StudName</td>

        </tr>
    }
</table>
